@{
    ViewBag.Title = "Home Page";
}

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Examen", "Index", "Examen")</li>
        <li>@Html.ActionLink("Preguntas Examen", "Index", "preguntasExamen")</li>
        <li>@Html.ActionLink("Tipo de Preguntas", "Index", "TipoPreguntas")</li>
    </ul>